body {
  margin: 0;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 15px 0;
  background: #d2b837;
  position: relative;
}

.header-wrap {
  display: flex;
  align-items: center;
}
#burger {
  position: absolute;
  left: -999999px;
  opacity: 0;
  visibility: hidden;
}
.burger {
  display: block;
  height: 16px;
  width: 26px;
  position: relative;
  cursor: pointer;
}
.burger::before,
.burger::after {
  content: "";
}
.burger::before,
.burger span,
.burger::after {
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #000;
  border-radius: 2px;
}
.burger::before {
  top: 0;
}
.burger span {
  top: 7px;
}
.burger::after {
  bottom: 0;
}
#burger:checked + .burger::before {
  transition: transform 0.3s ease-in-out;
  transform: rotate(45deg);
  top: 7px;
}
#burger:checked + .burger::after {
  transition: transform 0.3s ease-in-out;
  transform: rotate(-45deg);
  bottom: 7px;
}
#burger:checked + .burger span {
  opacity: 0;
}

#burger:checked ~ .nav-list {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  visibility: visible;
}

.nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 15px;
}
.nav-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #d2b837;
  text-align: center;
  opacity: 0;
  visibility: visible;
}
.nav-item + .nav-item {
  padding-left: 15px;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.nav-link:hover {
  opacity: 0.7;
}

.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.content {
  padding: 15px;
  text-align: center;
}

.aside {
  flex: 0 0 210px;
  padding: 15px;
  text-align: center;
}

.aside-left {
  background: #c798b9;
}

.aside-right {
  background: #9cb1c7;
}

.footer {
  background: #86ec86;
  padding: 15px;
  text-align: center;
}
.card-footer {
  display: flex;
  justify-content: center;
}
.card-grow {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 50vh;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15px 0 -15px;
}

.col {
  width: 30.333%;
  padding: 0 15px 30px;
}

.card {
  border: 1px solid #000;
  border-radius: 20px;
  padding: 15px;
}

.card-img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: #c7b7b7;
  margin: 0 auto;
}

.card-title a {
  color: #000;
  text-decoration: none;
}

.card-title a:hover {
  opacity: 0.8;
}

.btn {
  color: #fff;
  padding: 2px 10px;
  border-radius: 12px;
  background: #685174;
  border: 1px solid #685174;
  text-decoration: none;
  line-height: 1;
}

.btn:hover {
  background: #fff;
  color: #685174;
}
.frog {
  border-radius: 50%;
  border: 10px solid #c798b9;
}

@media (min-width: 1024px) {
  .burger {
    display: none;
  }
  .nav-list {
    display: flex;
    align-items: center;
    opacity: 1;
    visibility: visible;
    position: static;
  }
  .nav-item {
    padding-bottom: 0;
  }
  .nav-item + .nav-item {
    padding-left: 15px;
  }
  .main {
    flex-direction: row;
  }
  .aside {
    max-width: 210px;
  }
  .aside-left {
    order: -1;
  }
}
@media (max-width: 1024px) {
  .col {
    width: 50%;
  }
  .header-wrap {
    flex-direction: column;
  }
  .card-grow {
    height: 75vh;
  }
}
